PORT=3000
JWT_SECRET=changeme
USERS_SERVICE_URL=http://localhost:3001
SHIPMENTS_SERVICE_URL=http://localhost:3002
PAYMENTS_SERVICE_URL=http://localhost:3003
ADMIN_SERVICE_URL=http://localhost:3004
RATE_LIMIT_MAX=200
